* {
    margin: 0;
    padding: 0;
}

header {
    background: black;
    color: white;
    text-align: center;
    height: 100px;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 100px;
}

footer {
    background: black;
    color: white;
    text-align: left;
    height: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 15px;
    padding-left: 70px;
}

footer p {
    padding-top: 10px;
}

main {
    width: 100%;
    display: flex;
}

.lateral {
    background: rgb(147, 192, 23);
    width: 200px;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    display: flex;
}

.izquierda {
    margin-left: 0px;
}

.derecha {
    margin-right: 0px;
}

.centro {
    margin: 5px;
    flex-grow: 2;
}

.img {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}

.img img {
    width: 125px;
}

ul {
    margin: 16px;
}